// app.scss
// Кастомные стили для тем

body.body--dark {
  // Дополнительные стили для тёмной темы
  background-color: #121212;
}

body.body--light {
  // Дополнительные стили для светлой темы
  background-color: #ffffff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1660px;
  margin: 0 auto;
  padding: 0px 15px;
}

@media (max-width: 500px) {
  .container {
    padding: 0px 24px;
  }
}
