// app global css in SCSS form

// Основные стили для body (тёмная тема по умолчанию)
body {
  background-color: $dark-bg;
  color: $dark-text;
}

// Светлая тема
body.body--light {
  background-color: $light-bg;
  color: $light-text;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1660px;
  margin: 0 auto;
  padding: 0px 15px;
}
